body {
  font-family: roboto, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}
/* Espaciado interno para la barra de navegación COLOR ROJOOOOOOOOOOOOOOO */
nav {
  background: #be0909;  
  padding: 10px 0;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #ff9800;
}

.carousel {
  width: 100%;
  max-width: 800px;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.carousel .slides img {
  width: 100%;
  display: block;
}

section {
  background: #fff;
  margin: 30px auto;
  max-width: 800px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}

h2 {
  color: #222;
  margin-top: 0;
}

footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}

